@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* Variables */
:root {
  --primary: rgb(31, 64, 16);
  --secondary: rgb(186, 123, 29);
  --light: #f8f8f8;
  --dark: #000;
  --white: #fff;
  --shadow: 0 0.5px 3px 0 rgba(12, 7, 0, 0.3);
  --radius: 8px;
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", serif;
  color: var(--dark);
  letter-spacing: 1px;
  font-size: 14px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input[type="submit"] {
  font: inherit;
  border: none;
  appearance: none;
  background-color: var(--secondary);
  color: var(--white);
  padding: 0.7rem 0.7rem;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover,
input[type="submit"]:hover {
  background-color: rgba(186, 123, 29, 0.9);
  transform: scale(1.1);
}

input[type="email"] {
  border: 1px solid #ccc;
  padding: 0.7rem;
  border-radius: var(--radius);
  background-color: var(--white);
  width: 70%;
  max-width: 20rem;
}

/* Header */
header {
  background-color: var(--white);
  padding: 1.5rem 2.5rem;
  box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  color: var(--primary);
  transform: scale(1.7);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
}

.nav > ul > li {
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.nav > ul > li:hover {
  color: var(--secondary);
  font-weight: bold;
  transform: scale(1.1);
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../Images/hero.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero h1,
.hero p {
  color: var(--white);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-size: 40px;
  text-transform: capitalize;
}

.hero p {
  max-width: 50rem;
  font-size: 20px;
  font-weight: lighter;
}

.hero button {
  margin-top: 2.5rem;
}

/* Products & Reviews */
.products,
.reviews {
  margin-top: 5rem;
}

.products > h2,
.reviews > h2 {
  font-size: 30px;
  text-align: center;
  color: var(--primary);
  text-transform: capitalize;
}

.products-container,
.reviews-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-card,
.review-card,
.subscription-form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.product-card,
.review-card {
  margin-top: 2rem;
}

.product-card:hover,
.review-card:hover {
  transform: scale(1.05);
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  background-color: var(--light);
  box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.product-card img {
  width: 16rem;
  height: 11rem;
  object-fit: cover;
}

.product-info {
  text-align: center;
  line-height: 1.5rem;
}

.product-info p,
.review-card p {
  color: var(--dark);
  font-weight: lighter;
}

.product-info i {
  color: rgb(226, 192, 55);
}

.reviewer-info {
  display: flex;
  gap: 0.5rem;
}

.review-card {
  background-color: var(--light);
  box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  align-items: start;
  padding: 1.5rem;
  width: 18rem;
  height: 9rem;
}

/* Subscription Form */
.subscription-form-card {
  margin: 5rem auto 0 auto;
  padding: 2rem 1rem;
  width: 50%;
  border-radius: var(--radius);
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../Images/hero.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.subscription-form-card h2,
.subscription-form-card p {
  color: var(--white);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.input-info {
  margin-top: 2rem;
}
.input-info form input[type="submit"] {
  margin-top: 1rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 3rem;
  padding: 2rem;
  flex-wrap: wrap;
}

footer h3 {
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary);
  font-size: 20px;
}

footer a {
  font-weight: lighter;
}

footer a > i {
  color: var(--secondary);
  transition: transform 0.3s ease-in-out;
}

footer a > i:hover {
  transform: scale(1.2);
}

.social-media-accounts-card > ul {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

/* Responsive */
@media (max-width: 768px) {
  .nav > ul {
    flex-direction: column;
    gap: 1rem;
  }

  .subscription-form-card {
    width: 90%;
    padding: 2rem 1rem;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer section {
    margin: 0 auto;
  }
}
